---
name: Terragrunt

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Which part to execute'
        required: true
        default: 'tg-webapp'
        type: choice
        options:
          - tg-webapp
      app:
        description: 'App to execute'
        required: true
        default: 'app'
        type: string
      step:
        description: 'Which step to run (plan, apply, destroy)'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest
      - name: Install Terragrunt
        run: |
          curl -sLo terragrunt https://github.com/gruntwork-io/terragrunt/releases/latest/download/terragrunt_linux_amd64
          chmod +x terragrunt
          sudo mv terragrunt /usr/local/bin/terragrunt
      - name: Run selected Terragrunt step
        working-directory: ${{ github.event.inputs.part }}/${{ github.event.inputs.app }}
        run: |
          chmod +x ../../.github/workflows/scripts/terragrunt.sh
          ../../.github/workflows/scripts/terragrunt.sh ${{ github.event.inputs.step }} ${{ github.event.inputs.part }}
